{
  "plugins": [
    "prettier-plugin-blade",
    "@prettier/plugin-php",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "printWidth": 120,
        "bladeDirectiveArgSpacing": "none",
        "parser": "blade"
      }
    }
  ]
}
